{% extends 'base.html' %}

{% block content %}
<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg " style="background-color: #542ff7;">
      <div class="container-fluid">
      <a class="navbar-brand" style="color: white;" href="/"><img src="https://i1.sndcdn.com/artworks-188hqnt2xfmNCACs-iZ9Qng-t500x500.jpg" style="height: 35px; width: 35px; border-radius: 10px;" alt=""><b> AmbatuStore</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/" style="color: white;">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/items" style="color: white;"><strong>Items</strong></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/create-item" style="color: white;">Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:logout' %}" style="color: white;">Logout</a>
          </li>
          </ul>
      </div>
      </div>
  </nav>
 <!-- navbar -->
    <h1>{{username}}'s Items</h1>
    <!--Item Table-->
    <table class="table table-bordered">
        <caption class=""> {{itemCount}} Items in total</caption>
        <thead class="table-light">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <th scope="row">{{item.id}}</th>
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>{{item.amount}}</td>
            </tr>
          {% endfor %}
          <!--kalo kurang row tambah pake <tr></tr>-->
        </tbody>
      </table>
    <!--Item Table-->
{% endblock content %}